body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 20px auto;
}

